<style type="text/css">
        .st0 {
            fill: #4BBEC9;
        }
        
        .st1 {
            fill: #3EA6B0;
        }
        
        .st2 {
            fill: #65C9D6;
        }
        
        .st3 {
            fill: #D1D3D4;
        }
        
        .st4 {
            fill: #faf9f5;
        }
        </style>
        <div class="graph">
            <div class="graph__bar">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;" xml:space="preserve">
                    <rect x="299.2" y="490.5" class="st0" width="116.8" height="281" />
                    <rect x="182.4" y="490.5" class="st1" width="116.8" height="281" />
                    <g>
                        <path id="path2987_1_" class="st2" d="M299.2,373.8l-116.8,58.4
        l116.8,58.4l116.8-58.4L299.2,373.8z" />
                        <g>
                            <polygon class="st0" points="299.6,490.5 416.1,490.5 416.1,432.2        " />
                            <polygon class="st0" points="299.2,490.5 299.2,490.6 299.6,490.5        " />
                        </g>
                        <g>
                            <polygon class="st1" points="298.9,490.4 182.4,490.4 182.4,432.1        " />
                            <polygon class="st1" points="299.2,490.4 299.2,490.5 298.9,490.4        " />
                        </g>
                    </g>
                    <g>
                        <g>
                            <polygon class="st3" points="299,771.8 481,771.8 416,716.3      " />
                           
                        </g>
                        <g>
                            <polygon class="st4" points="298.3,771.7 179.4,771.7 179.4,712.2        " />
                            <polygon class="st4" points="298.7,771.7 298.7,771.9 298.3,771.7        " />
                        </g>
                    </g>
                </svg>
                <p class="graph__bar-title">SQL Server</p>
            </div>
            <div class="graph__bar">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;" xml:space="preserve">
                    <rect x="299.2" y="224" class="st0" width="116.8" height="547.5" />
                    <rect x="182.4" y="224" class="st1" width="116.8" height="547.5" />
                    <g>
                        <path id="path2987_1_" class="st2" d="M299.2,113.8l-116.8,58.4
        l116.8,58.4l116.8-58.4L299.2,113.8z" />
                        <g>
                            <polygon class="st0" points="299.6,230.5 416.1,230.5 416.1,172.2        " />
                            <polygon class="st0" points="299.2,230.5 299.2,230.6 299.6,230.5        " />
                        </g>
                        <g>
                            <polygon class="st1" points="298.9,230.4 182.4,230.4 182.4,172.1        " />
                            <polygon class="st1" points="299.2,230.4 299.2,230.5 298.9,230.4        " />
                        </g>
                    </g>
                    <g>
                        <g>
                            <polygon class="st3" points="299,771.8 481,771.8 416,716.3      " />
                           
                        </g>
                        <g>
                            <polygon class="st4" points="298.3,771.7 179.4,771.7 179.4,712.2        " />
                            <polygon class="st4" points="298.7,771.7 298.7,771.9 298.3,771.7        " />
                        </g>
                    </g>
                </svg>
                <p class="graph__bar-title">SQL Server</p>
            </div>
            <div class="graph__bar">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;" xml:space="preserve">
                    <rect x="299.2" y="296" class="st0" width="116.8" height="475.5" />
                    <rect x="182.4" y="296" class="st1" width="116.8" height="475.5" />
                    <g>
                        <path id="path2987_1_" class="st2" d="M299.2,183.8l-116.8,58.4
        l116.8,58.4l116.8-58.4L299.2,183.8z" />
                        <g>
                            <polygon class="st0" points="299.6,300.5 416.1,300.5 416.1,242.2        " />
                            <polygon class="st0" points="299.2,300.5 299.2,300.6 299.6,300.5        " />
                        </g>
                        <g>
                            <polygon class="st1" points="298.9,300.4 182.4,300.4 182.4,242.1        " />
                            <polygon class="st1" points="299.2,300.4 299.2,300.5 298.9,300.4        " />
                        </g>
                    </g>
                    <g>
                        <g>
                            <polygon class="st3" points="299,771.8 481,771.8 416,716.3      " />
                           
                        </g>
                        <g>
                            <polygon class="st4" points="298.3,771.7 179.4,771.7 179.4,712.2        " />
                            <polygon class="st4" points="298.7,771.7 298.7,771.9 298.3,771.7        " />
                        </g>
                    </g>
                </svg>
                <p class="graph__bar-title">SQL Server</p>
            </div>
            <div class="graph__bar">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;" xml:space="preserve">
                    <rect x="299.2" y="337.5" class="st0" width="116.8" height="434" />
                    <rect x="182.4" y="337.5" class="st1" width="116.8" height="434" />
                    <g>
                        <path id="path2987_1_" class="st2" d="M299.2,223.8l-116.8,58.4
        l116.8,58.4l116.8-58.4L299.2,223.8z" />
                        <g>
                            <polygon class="st0" points="299.6,340.5 416.1,340.5 416.1,282.2        " />
                            <polygon class="st0" points="299.2,340.5 299.2,340.6 299.6,340.5        " />
                        </g>
                        <g>
                            <polygon class="st1" points="298.9,340.4 182.4,340.4 182.4,282.1        " />
                            <polygon class="st1" points="299.2,340.4 299.2,340.5 298.9,340.4        " />
                        </g>
                    </g>
                    <g>
                        <g>
                            <polygon class="st3" points="299,771.8 481,771.8 416,716.3      " />
                           
                        </g>
                        <g>
                            <polygon class="st4" points="298.3,771.7 179.4,771.7 179.4,712.2        " />
                            <polygon class="st4" points="298.7,771.7 298.7,771.9 298.3,771.7        " />
                        </g>
                    </g>
                </svg>
                <p class="graph__bar-title">SQL Server</p>
            </div>
        </div>