
.myclase .comment-notes {
    color: #918e8e;
    font-family: Quattrocento;
    font-size: 14px;
    text-align: left;
}

.myclase {
    padding-bottom:50px;
}

.comment-respond h3 {
    color: #ce4b50;
    font-family: 'sensa_brushfill_demo';
    font-size: 48px;
    text-align: left;
    padding-top: 20px;
}

.comment-respond p {
    color: #ce4b50;
    font-family: Quattrocento;
    font-size: 16px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 0px; 
}
