.post-card {
    background: $white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px;
    border-color: #e4e2da;
    margin-bottom: 20px;
    &__header {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 10px 30px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &__date {
        color: white;
        font-size: 16px;
    }
    &__body {
        padding: 10px 30px;
    }
    h3 {
        color: #ce4b50;
        font-family: Quattrocento;
        font-size: 20px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
    p {
        color: #918e8e;
        font-family: Quattrocento;
        font-size: 16px;
        text-align: left;
        padding-top: 10px;
    }
    h3 a {
        color: #ce4b50;
        font-family: Quattrocento;
        font-size: 20px;
        text-align: left;
    }
    a:hover {
        color: #4abec9;
        text-decoration: none;
    }
}
