

.c-widget {
    padding-top: 55px;
}

.c-widget h2 {
    color: #ce4b50;
    font-family: 'sensa_brushfill_demo';
    font-size: 34px;
    text-align: left;
    padding-top: 10px;
}

.c-widget a {
    color: #5f5e5e;
    font-family: Quattrocento;
    font-size: 14px;
    text-align: left;
    padding-top: 20px;
}