<div class="graph" id="skills">
    <div class="graph__bar" style="height:200px">
        <p class="graph__tooltip">80%</p>
        <p class="graph__title">SQL server</p>
    </div>
    <div class="graph__bar" style="height:100px">
        <p class="graph__tooltip">70%</p>
        <p class="graph__title">Java</p>
    </div>
    <div class="graph__bar" style="height:200px">
        <p class="graph__tooltip">80%</p>
        <p class="graph__title">Wordpress</p>
    </div>
    <div class="graph__bar" style="height:150px">
        <p class="graph__tooltip">75%</p>
        <p class="graph__title">PHP</p>
    </div>
    <div class="graph__bar" style="height:240px">
        <p class="graph__tooltip">85%</p>
        <p class="graph__title">.Net</p>
    </div>
</div>


